{% extends 'post/base.html' %}
{% load static %}
{% block content %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <aside class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            {% for item in  data  %}
                            <h2><strong><a>{{ item.nickname }}</a></strong></h2>
                    
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            {# ユーザーがプロフィール画像を持っている場合#}
                            {% if user.avatar %}
                                <img class="rounded img-fluid mx-auto d-block"
                                    src="{{ user.avatar.url }}" id="avatar-image" alt="avatar_image">
                                {# ユーザーがプロフィール画像を持っている場合はデフォルト画像を表示#}
                            {% else %}
                                <img class="rounded img-fluid mx-auto d-block"
                                    src="{% static 'images/avator_default.png' %}" id="avatar-image" alt="avatar_image">
                            {% endif %}
                        </div>
                        <a class="btn btn-outline-secondary btn-sm"
                            href="{% url 'post:edit_profile' %}" role="button">プロフィール更新</a>
                    </div>
                </aside>
                <div class="box" align="right">
                    <div class="col-30 clearfix">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">
                                <div class="button010">
                                    <a href="#">自己紹介</a>
                                </div> 
                    
                        </div>
                        <div class="card" style="width: 40rem;">
                            <div class="card-body">
                                <div class="dashed-note">
                                    
                                    <h3 class="card-title"></h3>
                                    {% for item in data %}
                        　　　　　　 <td>{{item.comment}}</td>
                        　　　　　　　{% endfor %}
                                    <h3 class="card-subtitle mb-5 text-muted"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
                <div class="col-sm-8">
                    <ul class="nav nav-tabs nav-justif ied mb-3">
                        <li class="nav-item"><a href="{% url 'post:mypost' %}" class="nav-link active">MyPosts一覧
                            {#  object_listのlengthを取得することで投稿数をカウントできる。#}
                            <span class="badge badge-secondary">{{ my_posts_count }}</span></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">相性のいい人
                            {#  相性いい人の数を表示#}
                    
                    </ul>
                    <!-- テーブル表の定義 -->
                    <div class="table table-responsive">
                        <table id='post_list'
                                class="table table-striped table-bordered table-hover">
                            　<!-- 表の列の定義-->
                            <thead>
                            <tr>
                                <th class="text-center" style="width: 80%">投稿内容</th>
                                <th class="text-center" style="width: 20%">更新／削除</th>
                            </tr>
                            </thead>
                            　<!-- ここまでが表の列の定義-->
                            　<!-- 表のデータ部分の表示-->
                            <tbody>
                            {% for item in object_list %}
                                <tr class="text">
                                    <td class="text"><h6>@{{ item.created_at }}</h6>{{ item.content }}</td>
                                    <td class="text-center align-middle">
                                        {#  pkを指定する際は、urlタグはやや特殊な書き方となる↓以下参照#}
                                        <a class="btn btn-outline-success btn-sm"
                                            href="{% url 'post:update' item.pk %}"
                                            role="button">更新</a>
                                        <a class="btn btn-outline-danger btn-sm"
                                            href="{% url 'post:delete' item.pk %}"
                                            role="button">削除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            　<!-- ここまでが表のデータ部分の表示-->
                        </table>
                        <!-- ここまでがテーブル表の定義 -->
                    </div>
                </div>
            </div>
{% endblock %}